* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #1f3b73, #131d3b);
    color: #f4f6f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121829;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.8em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 20px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #ffa500;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    border-radius: 50%;
    width: 35px;
    margin-right: 10px;
}

.header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin-bottom: 10px;
    font-size: 2.4em;
    color: #ffa500;
}

.header .status {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    position: relative;
}

.panel {
    width: 45%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.split-slider {
    position: absolute;
    top: 50px;
    left: 50%;
    height: 90%;
    width: 5px;
    background-color: #333;
    cursor: ew-resize;
}

.kpi-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.kpi {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kpi:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.facial-recognition {